<div class="jumbotron">
  <h1 class="display-4"><i class="fa fa-home"></i> Credit Card Payment</h1>
  <p class="lead">An angular application demostrating NgRX and RxJS</p>
</div>
<div class="col text-center mb-3">
  <button (click)="navigate()" type="button" class="container__btn btn btn-info btn-lg">
    <i class="fas fa-money-check-edit-alt"></i> Pay Now
  </button>
</div>
<div class="container"> 
  <div class="card mb-5">
    <div class="card-body">
      CC Store:
      {{ creditCard$ | async | json }}
    </div>
  </div>
  <toaster-container toaster-options="{'type': 'success', 'time-out': 5000, 'close-button':true, 'position-class':'toast-top-full-width'}"></toaster-container>
  <div class="view-container">
    <router-outlet></router-outlet>
    <div ng-view></div>
  </div>
</div>
<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">Developed by <a href="https://www.linkedin.com/in/wasiukareemajibola/">Wasiu Kareem</a> with <i class="fas fa-heart text-danger"></i> for <a href="filed.com">Filed.com</a></span>
  </div>
</footer>
